<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MemoramaLISEntities" connectionString="metadata=res://*/MemoramaLis.csdl|res://*/MemoramaLis.ssdl|res://*/MemoramaLis.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-54H68P7\SQLEXPRESS;initial catalog=MemoramaLIS;persist security info=True;user id=UsuarioMemoramaLis;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>